/* Estilo global y reinicio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y fuente general */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #1a1a1a;
    color: #e0e0e0;
}

main {
    flex: 1;
}

.logo {
    width: 150px;
    height: 150px;
}

/* Sección de bienvenida (Hero Section) */
.hero-section {
    text-align: center;
    padding: 20px 20px;
    background: linear-gradient(to right, #333, #8820ff);
    color: #e0e0e0;
}

/* Título y descripción de bienvenida */
.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero-nav-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

/* Secciones de navegación en hero-section */
.hero-nav-buttons button {
    appearance: none;
    background-color: #1A1A1A;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 1em;
    min-width: 0;
    outline: none;
    padding: 0.5em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.hero-nav-buttons button:disabled {
    pointer-events: none;
}

.hero-nav-buttons button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.hero-nav-buttons button:active {
    box-shadow: none;
    transform: translateY(0);
}

/* Estilo de las secciones de contenido */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* Tarjetas de contenido */
.content-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    color: #e0e0e0;
}

.card p {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
}

/* Ajuste de las imágenes en la sección de Discos */
.disco-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

/* Footer */
footer {
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #ffffff;
    margin-top: auto;
}