/* Estilo global y reinicio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo y fuente general */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Segoe UI",Helvetica,Arial,sans-serif,
        "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #1a1a1a;
    color: #e0e0e0;
}

main {
    flex: 1;
}

.logo {
    width: 150px;
    height: 150px;
}

/* Sección de bienvenida (Hero Section) */
.hero-section {
    text-align: center;
    padding: 20px 20px;
    background: linear-gradient(to right, #333, #8820ff);
    color: #e0e0e0;
}

/* Título y descripción de bienvenida */
.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Secciones de navegación en hero-section */
.hero-nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.hero-nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.hero-nav-links a:hover {
    color: #000000;
}

/* Estilo de las secciones de contenido */
.section {
    padding: 60px 20px;
    text-align: center;
}

/* Tarjetas de contenido */
.content-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    color: #e0e0e0;
}

/* Ajuste de las imágenes en la sección de Discos */
.disco-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

/* Footer */
footer {
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #ffffff;
    margin-top: auto;
}