@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

:root{
    --primer-color:#FFFFFF;
    --segundo-color:#C1121F;
    --maindark:#171717;
    --cuarto-color:#003049;
    --quinto-color:#669BBC;
    --fuente-base:"Roboto", sans-serif;
    --peso-fuente:600;
    --estilo-fuente:normal;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--fuente-base);
    font-weight: var(--peso-fuente);
    font-style: var(--normal);
    
}

body{    
    background-color: var(--maindark);
}

/** Footer **/

a{
    text-decoration: none;
    color: var(--quinto-color);
    background-color: transparent;
}

.github, .github2{
    background-color: transparent;
}

.footer2{
    background-color: var(--primer-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/** ----------------------------Registro Artistas---------------**/
.header_registro_artista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.titulo_registro_artista{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--maindark);
    text-align: center;
}

.logotipo_registro_artista{
    width: 15rem;
    padding: 1rem 1rem 1rem 1rem ;    
    border-radius: 1000px;
}

.main_registro_artista{
    display: flex;
    justify-content: center;   
    align-items: center;       
    min-height: 10vh;             
    padding: 20px;
}

.vacio_izquierda{
    width: 10%;
}

.registro_artista {
    display: flex;
    justify-content: space-between;
    gap: 20px;                          
    width: 100%;
}

.container_registro{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_registro_artista, textarea {
    width: 100%; 
    padding: 0.5rem; 
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background: var(--maindark);
    height: 3rem; 
}

select.input_registro_artista{
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background-color: var(--maindark);
    appearance: none;
    padding: 0.5rem;
}

.container_registro_artista label.text_registro_artista {
    font-size: 1.0rem;
    color: white;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--maindark);
    width: fit-content;
}

.container_registro_artista .input_registro_artista, .input_registro_artista, .select_registro_artista {
    padding: 0.5rem;
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background: var(--maindark);
}

textarea.input_registro_artista{    
    height: 100px;
}

.container_registro_artista .input_registro_artista:focus_artista {
    outline: none;
}

.botones_artistas{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: 10rem;
}

.vacio_derecha{
    width: 10%;
}

.btnregistro_artista, .btnregistro_artista_consultar{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #FFFFFF;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btnregistro_artista::before, .btnregistro_artista_consultar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #515151;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.btnregistro_artista:hover, .btnregistro_artista_consultar:hover {
    color: #e8e8e8;
}

.btnregistro_artista:hover::before, .btnregistro_artista_consultar:hover::before {
    width: 100%;
}

.btnregistro_artista{
    background-color: var(--quinto-color);
}

.btnregistro_artista_consultar{
    background-color: var(--segundo-color);
}

.footer{
    background-color: var(--primer-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

a{
    text-decoration: none;
    color: var(--quinto-color);
    background-color: transparent;
}

.github, .github2{
    background-color: transparent;
}

.footer2{
    background-color: var(--primer-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/** ------------- Style Edicion artistas ------------------ **/

.titulo_detalles_artista{
    background-color: var(--maindark);
    text-align: center;
    color: var(--primer-color);
}

.botones_edicion{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: 10rem;
}

.btnguardar_artista, .btneliminar_artista, .btn_volver{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #FFFFFF;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btnguardar_artista::before, .btneliminar_artista::before, .btn_volver::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #515151;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.btnguardar_artista:hover, .btneliminar_artista:hover, .btn_volver:hover {
    color: #e8e8e8;
}

.btnguardar_artista:hover::before, .btneliminar_artista:hover::before ,.btn_volver:hover::before {
    width: 100%;
}

.btnguardar_artista{
    background-color: var(--quinto-color);
}

.btneliminar_artista{
    background-color: var(--segundo-color);
}

.btn_volver{
    background-color: var(--cuarto-color);
}