* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #e0e0e0;
}

.logo {
    width: 150px;
    height: 150px;
}

/* Sección de bienvenida (Hero Section) */
.header {
    text-align: center;
    padding: 20px 20px;
    background: linear-gradient(to right, #333, #8820ff);
    color: #e0e0e0;
}

/* Título y descripción de bienvenida */
.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.conciertos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.concierto-banner {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 500px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.concierto-banner img {
    width: 100%;
    height: 450px;
    object-fit: fill;
}

.concierto-banner h3 {
    padding: 10px;
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
}

.concierto-banner:hover {
    transform: scale(1.05);
}

/* Popup */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #e0e0e0;
    width: 90%;
    max-width: 500px;
}

.popup-content h3 {
    font-size: 1.8em;
    color: #9b44ff;
    margin-bottom: 10px;
}

.popup-content p {
    margin-bottom: 15px;
}

.popup-content button {
    appearance: none;
    background-color: #8820ff;
    border: 0.125em solid #8820ff;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 1em;
    min-width: 0;
    outline: none;
    padding: 0.5em 1.5em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.popup-content button:disabled {
    pointer-events: none;
}

.popup-content button:hover {
    color: #fff;
    background-color: #1A1A1A;
    border: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.popup-content button:active {
    box-shadow: none;
    transform: translateY(0);
}
