@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

:root{
    --primer-color:#FFFFFF;
    --segundo-color:#C1121F;
    --maindark:#171717;
    --cuarto-color:#003049;
    --quinto-color:#669BBC;
    --fuente-base:"Roboto", sans-serif;
    --peso-fuente:600;
    --estilo-fuente:normal;
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--fuente-base);
    font-weight: var(--peso-fuente);
    font-style: var(--normal);
    
}

body{    
    background-color: var(--maindark);
}

/** ----------------- CODIGO DE REGISTRO ----------------------- **/
.body_registro{    
    background-color: var(--maindark);
}

.header_registro{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.logotipo_registro{
    width: 25rem;
    padding: 1rem 0rem 1rem 0rem ;    
    border-radius: 1000px;
}

.titulo_registro{
    background-color: var(--maindark);
}

.main_registro{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.registro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.container_registro{
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: static;
    max-width: 300px;
}

.container_registro label.text_registro {
    font-size: 1.0rem;
    color: white;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--maindark);
    width: fit-content;
}

.container_registro input[type=text].input_registro {
    padding: 0.5rem;
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background: var(--maindark);
}

.container_registro input[type=text].input_registro:focus {
    outline: none;
}

.container_registro input[type=password].input_registro {
    padding: 0.5rem;
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background: var(--maindark);
}

.container_registro input[type=pssword].input_registro:focus {
    outline: none;
}

.botones{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btnregistro_registro, .btncancelar_registro{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #FFFFFF;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btnregistro_registro::before, .btncancelar_registro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #515151;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.btnregistro_registro:hover, .btncancelar_registro:hover {
    color: #e8e8e8;
}

.btnregistro_registro:hover::before, .btncancelar_registro:hover::before {
    width: 100%;
}

.btnregistro_registro{
    background-color: var(--quinto-color);
}

.btncancelar_registro{
    background-color: var(--segundo-color);
}

/** Footer **/

a{
    text-decoration: none;
    color: var(--quinto-color);
    background-color: transparent;
}

.github, .github2{
    background-color: transparent;
}

.footer2{
    background-color: var(--primer-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/** --------------------- CODIGO DE LOGIN ------------------------ **/

.body_login{
    margin: 0;
    height: 100vh;
    overflow: hidden;    
    background-color: var(--maindark);
}

.contenedor_login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    position: relative;
}

.logo_login {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 100px;
    top: -35%;
    z-index: 1;
    transition: transform .4s ease-in-out;
    border: 5px solid transparent;
    filter: none;
}

.form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 250px;
    padding: 2em;
    background-color:#1f1e1e;
    border-radius: 25px;
    position: relative; 
    transition: transform .4s ease-in-out;
    filter: none;
}

.form_login:hover .logo_login{
    border: 5px solid var(--quinto-color);
}

.form_login:hover{
    transform: scale(1.1);
    border: 5px solid var(--quinto-color);
}

.titulo_login{
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.campo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.text_login{
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form_login .btn_login{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.btn_inicio{
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: var(--cuarto-color);
    color: white;
}

.btn_inicio:hover{
    background-color: var(--quinto-color);
    color:white;
}

.btn_signup{
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: var(--cuarto-color);
    color: white;
}

.btn_signup:hover{
    background-color: var(--quinto-color);
    color: white;
}

.btn_olvidepsw{
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: var(--cuarto-color);
    color: white;
}

.btn_olvidepsw:hover{
    background-color: red;
    color: white;
}

.footer_login{
    background-color: var(--primer-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* -------------- CODIGO PRODUCTOS ----------- */
.body_productos{
    background-color: var(--maindark);
}

.main_productos{
    display: flex;
}

.header_productos{
    color: white;
    font-size: 1.5rem;
    text-align: center;    
}

.logotipo_productos{
    width: 170px;
    height: 170px;
    border-radius: 100px;
    transition: transform .4s ease-in-out;
    border: 5px solid transparent;
    filter: none;
}

.titulo_productos{
    color: var(--quinto-color);
    font-size: 1.5rem;
    text-align: center;
}

.section_filtro{
    color: white;
    width: 15%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;}

.section_filtro:hover{    
    box-shadow: 4px 4px 40px 20px var(--cuarto-color);
}

.menu {
    font-size: 16px;
    line-height: 1.4;
    color: var(--quinto-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
  }
  
.menu a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

.menu .item{
    position: relative;
    margin-bottom: 5px;
    width: 100%;
    padding-bottom: 10px;
}

.menu .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 24px;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.menu_toggle{
    display: none;
}

.menu_toggle:checked + .link{
    color: var(--primer-color);
    border-radius: 16px 16px 0 0;
}

.menu_toggle:checked + .link svg{
    transform: rotate(180deg);
}

.menu .submenu{
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 12px 12px;
    border: 1px solid var(--primer-color);
    border-top: transparent;
    list-style: none;
    background-color: var(--maindark);
    box-shadow: 0 2px 4px var(--primer-color);
    width: 100%;
}

.menu_toggle:checked ~ .submenu{
    display: flex;
}

.submenu .submenu-item{
    width: 100%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu-item{
    margin-top: 8px;
}

.filtros_seleccionados{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
  
.menu .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--segundo-color);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link svg {
    width: 14px;
    height: 14px;
    fill: var(--quinto-color);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.menu .item {
    position: relative;
}
  
.menu .item .submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    border-radius: 0 0 16px 16px;
    left: 0;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--primer-color);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-12px);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
    pointer-events: none;
    list-style: none;
}
  
.menu .item:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
    border-top: transparent;
    border-color: #0a3cff;
}
  
.menu .item:hover .link {
    color: var(--primer-color);
    border-radius: 16px 16px 0 0;
}
  
.menu .item:hover .link::after {
    transform: scaleX(1);
    transform-origin: right;
}
  
.menu .item:hover .link svg {
    fill: #ffffff;
    transform: rotate(-180deg);
}
  
.submenu .submenu-link {
    display: block;
    padding: 8px 16px;
    width: 100%;
    position: relative;
    text-align: center;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.submenu .submenu-item:last-child .submenu-link {
    border-bottom: none;
}
  
.submenu .submenu-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    width: 100%;
    height: 100%;
    background-color: var(--cuarto-color);
    z-index: -1;
    transform-origin: left;
    transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}
  
.submenu .submenu-link:hover:before {
    transform: scaleX(1);
    transform-origin: right;
}
  
.submenu .submenu-link:hover {
    color: var(--quinto-color);
}

.titulo_productos_filtro{
    font-size: 1.5em;
    margin-bottom: 12px;
    border-bottom: 2px solid var(--primer-color);
    color: var(--quinto-color);
    text-align: center;
}

.section_productos{
    flex: 0 0 85%;
}

.contenedor_productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.producto{
    color: var(--primer-color);
    padding: 12px;
    border-radius: 8px;
    box-sizing: 0 2px 4px var(--quinto-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: transform 0.3s ease;    
}

.producto:hover{
    transform: scale(1.05);
    color: var(--quinto-color);    
    box-shadow: 0 4px 8px var(--segundo-color);
}

.producto h2, .producto p{
    transition: transform 0.3 ease;
}

.producto h2, .producto p{
    transform: scale(1.05);
}

.producto h2{
    margin-bottom: 8px;
    font-size: 18px;
}

.producto p{
    margin: 0;
    font-size: 14px;
}

.img_producto{
    width: 16rem;
    transition: transform 0.3s ease;
}

.img_producto:hover{
    transform: scale(1.1);
    border: 1px solid transparent;
}

/** ----------------------------Registro Artistas---------------**/
.header_registro_artista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.titulo_registro_artista{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--maindark);
    text-align: center;
}

.logotipo_registro_artista{
    width: 15rem;
    padding: 1rem 1rem 1rem 1rem ;    
    border-radius: 1000px;
}

.main_registro_artista{
    display: flex;
    justify-content: center;   
    align-items: center;       
    min-height: 10vh;             
    padding: 20px;
}

.vacio_izquierda{
    width: 10%;
}

.registro_artista {
    display: flex;
    justify-content: space-between;
    gap: 20px;                          
    width: 100%;
}

.container_registro{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_registro_artista, textarea {
    width: 100%; 
    padding: 0.5rem; 
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background: var(--maindark);
    height: 3rem; 
}

select.input_registro_artista{
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background-color: var(--maindark);
    appearance: none;
    padding: 0.5rem;
}

.container_registro_artista label.text_registro_artista {
    font-size: 1.0rem;
    color: white;
    font-weight: 700;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background: var(--maindark);
    width: fit-content;
}

.container_registro_artista .input_registro_artista, .input_registro_artista, .select_registro_artista {
    padding: 0.5rem;
    font-size: 1.4rem;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    background: var(--maindark);
}

textarea.input_registro_artista{    
    height: 100px;
}

.container_registro_artista .input_registro_artista:focus_artista {
    outline: none;
}

.botones_artistas{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: 10rem;
}

.vacio_derecha{
    width: 10%;
}

.btnregistro_artista, .btnregistro_artista_consultar{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #FFFFFF;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btnregistro_artista::before, .btnregistro_artista_consultar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #515151;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.btnregistro_artista:hover, .btnregistro_artista_consultar:hover {
    color: #e8e8e8;
}

.btnregistro_artista:hover::before, .btnregistro_artista_consultar:hover::before {
    width: 100%;
}

.btnregistro_artista{
    background-color: var(--quinto-color);
}

.btnregistro_artista_consultar{
    background-color: var(--segundo-color);
}

.footer{
    background-color: var(--primer-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
}

a{
    text-decoration: none;
    color: var(--quinto-color);
    background-color: transparent;
}

.github, .github2{
    background-color: transparent;
}

.footer2{
    background-color: var(--primer-color);
    padding: 10px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/** ------------- Style Edicion artistas ------------------ **/

.titulo_detalles_artista{
    background-color: var(--maindark);
    text-align: center;
    color: var(--primer-color);
}

.botones_edicion{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-left: 10rem;
}

.btnguardar_artista, .btneliminar_artista, .btn_volver{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #FFFFFF;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

.btnguardar_artista::before, .btneliminar_artista::before, .btn_volver::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #515151;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

.btnguardar_artista:hover, .btneliminar_artista:hover, .btn_volver:hover {
    color: #e8e8e8;
}

.btnguardar_artista:hover::before, .btneliminar_artista:hover::before ,.btn_volver:hover::before {
    width: 100%;
}

.btnguardar_artista{
    background-color: var(--quinto-color);
}

.btneliminar_artista{
    background-color: var(--segundo-color);
}

.btn_volver{
    background-color: var(--cuarto-color);
}